body, html {
    height:100%;
    margin:0;
    padding:0;
}
body{
    background: purple;
    width:100%;
    display:grid;
    grid-template-columns: auto;
}

svg{
    width:300px;
    align-self:center;
    justify-self: center;
    margin-left:500px;
}
svg #logo {
    opacity:1;  
    transform: translate(118px, 1px);
}
svg:hover #logo {
    animation-duration: 1.2s;
    animation-name: animateLogo;
    animation-iteration-count: infinite;
    animation-direction: alternate; 
}

@keyframes animateLogo {
    from {
        transform: translate(118px, 1px);
        opacity:1;
    }to {
        transform: translate(100px, 1px); 
        opacity:0; 
    }
}

.st1 { fill:#1A8F2E; }
.st2 { fill:#F0F0F0; }
.st3 { fill:#2BF04E; }
.st4 { fill:#858585; }